*.[oa]
*~
.classpath
.project
.txt
/.settings
.settings
/target/*
/**/target/*
/data
/log
*.iml
*.ipr
*.iws
/*/logs/*
/target/
/src/test/*
.idea/*
logs/*
/.idea
/logs/reader-api.*
*.DS_Store
.settings/**
/.classpath
.settings/*
.settings/
/log.dir_IS_UNDEFINED
/hsql
/bin/
*.log
